/* -----------------------------------------------------------------------------

Mi. - Personal Resume vCard Template

File:			Orange-Green Theme
Version:		1.0
Last change:	09/10/15 
Author:			Suelo

-------------------------------------------------------------------------------- */

/* Primary */

.text-primary, 
.icon-white,
.btn-primary:hover, .btn-primary:focus {
	color: #ffffff;
    background-color: #b984c7;  
}

.btn-xs.btn-primary:hover, .btn-xs.btn-primary:focus {
    color: #ffffff;
    background-color: #96d24f;  
}

a:hover, a:focus, 
.icon-primary.icon-hover:hover, .icon-primary.icon-hover:focus {
    color: #d8d8d8;
    background-color: transparent;  
}

#messenger-toggle {
    color: #bdbdbd;
    background-color: transparent;  
}
 
.text-primary {
	color: #fff;
	font-size: 21px; 
}

.bg-primary,
.btn-primary,
.progress-bar-primary,
.icon-circle.icon-primary,
.nav-vertical > li > a:before,
.nav-horizontal > li > a:before,
#messenger-box:before,
.icon-white.icon-hover:hover, .icon-white.icon-hover:focus,
.pace .pace-progress:before,
.label-primary,
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover,
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover,
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover,
.nav-panels > li.active > a, .nav-panels > li.active > a:focus, .nav-panels > li.active > a:hover,
#ajax-loader:before,
.owl-pagination .owl-page.active > span {
	background-color: #8566b5; 
}

.te-primary:before {
    background-color: #fff; 
}

/* Secondary */

.text-secondary,
.btn-secondary:hover, .btn-secondary:focus,
.icon-secondary.icon-hover:hover, .icon-secondary.icon-hover:focus {
	color: #352a47; 
}

.bg-secondary,
.btn-secondary,
.icon-circle.icon-secondary,
.progress-bar-secondary,
.te-secondary:before {
	background-color: #808080; 
}

/* Tertiary */

.text-tertiary,
.btn-tertiary:hover, .btn-tertiary:focus,
.icon-tertiary.icon-hover:hover, .icon-tertiary.icon-hover:focus {
	color: #c2afce;
    font-weight: bold;
    font-size: 16px;
    padding-top: 25px;
    line-height: 22px;
}

.bg-tertiary,
.btn-tertiary,
.icon-circle.icon-tertiary,
.progress-bar-tertiary,
.te-tertiary:before {
	background-color: #ddc13e; 
}

/* footable */
.footable > tfoot .pagination ul > li > a, .footable > tfoot .pagination ul > li > span {
    font-size: 14px !important;
    border: none !important;
    padding: 10px 15px !important;
}
.footable > tfoot .pagination ul > li.footable-page-arrow > a {
    font-size: 24px !important;
    padding: 0 15px !important;
}
.footable {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif !important;
  border-radius: 3px !important;
  border: 2px solid #212121 !important;
}
.footable > tbody > tr:hover:not(.footable-row-detail) {
    background: rgba(51, 122, 183, 0.2) !important;
}
.footable > thead > tr > th, .footable > thead > tr > td {
    background-color: #212121 !important;
    border: 1px solid #212121 !important;
}
.footable > tfoot > tr > th, .footable > tfoot > tr > td {
    background-color: #212121 !important;
    border: none !important;
}
.footable > tfoot .pagination ul > li.disabled > a {
    color: #ddd !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
    color: #e74c3c !important;
}
.footable.breakpoint > tbody > tr.footable-row-detail {
    background-color: transparent !important;
}
.footable.breakpoint > tbody > tr > td.footable-row-detail-cell {
    background: rgba(255, 255, 255, 0.64) !important;
}
/* fin footable*/

